name: Crystal CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 23 * * 6"

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: shards install
      - name: Run tests
        run: crystal spec
      - name: Check formatting
        run: crystal tool format --check
      - name: Lint
        run: bin/ameba
      - name: Build doc
        run: crystal docs
