name: Deploy docs

on:
  push:
    branches: [ master ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
      - name: Build doc
        uses: actions/checkout@v2
        run: crystal docs
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
